@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    font-family: "Open Sans", sans-serif;
    background-image: url(assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.center-div{
    padding-top: 10%;
}
.btn{
    padding: 0.6em 1.5em;
}

#login.title>span{
    font-size: 0.8em;
}